
/******* ヘッダーイメージ ********/
.top_image{
  width: 100%;
  height: 500px;
  background-image: url("../img/adcf_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;   
}

/******* セクション 01 (2カラム)********/
.twoclum{
  display: flex;
  justify-content: center;
  align-items:top;

 }
.twoclum_Img{
  width: 35%;
  height: 300px;
  /* background-image: url("../img/001.png"); */
  background-color: rgb(215, 215, 215);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  padding: 0;
}
.twoclum_Text{
  width: 35%;
  padding: 0 30px;
  line-height: 30px;
  margin-top: 0px;
}


/******* セクション 02 ********/
.photocontents{
  width: 75%;
  background-color: rgb(179, 179, 179);
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}
.naviImg{
  width: 300px;
  height: 180px;
  background-image: url("../img/c688ec4182cb23b41b831fb53b5f06003_4620693218524842082_200326_0002.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.naviImg2{
  width: 300px;
  height: 180px;
  background-image: url("../img/ArtDlgCf_S2_20200718.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/******* セクション 03 ********/
.osm_Wrap{
  display: flex;
  justify-content: center;
  margin: 35px;
}
.osm_content{
  width: 250px;
  height: 300px;
  margin: auto 5px;
}
.osm_Img1{
  width: 250px;
  height: 250px;
  background-color: #e4e4e4;
}
.osm_Text{
  text-align: center;
}


/******* セクション 04 ********/
.archive_wapper{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
  margin: 0 auto;
}
.content_img_1{
  width: 250px;
  height: 250px;
  background-image: url(../img/kiroku_001.png);
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}
.content{
  text-align: center;
  margin: 0 10px;
  width: 250px;
}
.content img{
  width: 250px;
  height: auto;
}
.content p{
  font-size: 14px;
}

.content_img_2{
  width: 250px;
  height: 250px;

  background-image: url(../img/kiroku_002.jpg);
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

.content_img_3{
  width: 250px;
  height: 250px;
  background-image: url(../img/kiroku_003.jpg);
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}


    /******* レスポンシブ  ********/
    /******* レスポンシブ  ********/
    /******* レスポンシブ  ********/

@media screen and (max-width: 640px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/

  /******* セクション 02 ********/
  .photocontents{
    display: unset;
    }
    .naviImg{
  margin: 0 auto;
    }
    .naviImg2{
    margin: 0 auto;
    }
  
    .twoclum_Img{
    width: 90%;
    height: 200px;
  
    }
  
  
    /******* セクション 03 ********/
  .osm_Wrap{
    display: unset;
    width: 90%;
    }
  
    .osm_content{
  margin: 0 auto;
    }
    
    /******* セクション 04 ********/
    .archive_wapper{
    display: unset;
    }
  
  .content{
    margin: 0 auto;
  }
  .content_img_1{
    width: 200px;
    height: 200px;
    }
  .content p{
    font-size: 12px;
    width: 90%;
  }
  
  .content_img_2{
    width: 200px;
    height: 200px;
  }
  
  .content_img_3{
    width: 200px;
    height: 200px;
  }

}






