
@media screen and (max-width: 640px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
	body{
	font-size: 14px;
	max-width: 400px;
	width: 96%;
	}



  /******* セクション 01 (2カラム)********/
.twoclum{
	display: block;
   }
  .twoclum_Img{
	width: 100%;
	margin: 0 auto;
  }
  .twoclum_Text{
	width: 80%;
	margin: 30px auto;
  }


/******* タイトル(h2,h3,テキスト) ********/
.common_h2{
	font-size: 16px;
}
.common_h3{
    border-bottom: solid 2px #5A5CE6;
	width: 300px;
	font-size: 15px;
	margin: 20px auto;
}
.common_text{
max-width: 80%;
text-align: left;
  }

  .secB_wrapper{
	  width: 100%;
  }

  .common_BoxText{
    max-width: 90%;
  }



/******* フッター ********/
footer{
    margin: 0px auto;
    text-align: center;
}
.footmenu {
	text-align: center;
	margin: 0 auto;
}

.footmenu ul{
    margin: 30px auto;
}


.footmenu li {
    text-align: center;
	line-height: 30px;
	font-size: 10px;
}

.snswarapp{
    margin: 0 auto;
    display: unset;
}

.snswarapp p{
    text-align: center;
    border-bottom: solid 2px #5A5CE6 ;
	margin: 10px auto;
	width: 90%;
}

.facebookpage>iframe{
	margin: 0 auto;
}



/******* ボタン ********/
.btn{
    widows: 270px;
    height: 60px;
}


}





 




