/* 基本装飾 */

@media screen and (max-width: 640px) { 

  /******* ヘッダー ********/
	.hedderWrapper{
		display: block;
	}
	.Home{
		width: 40%;
		height: 40px;
		/* position: fixed; */
	}
	.nav-list{
		display: block;
	}
	.nav-list>.nav-item>a{
    color: rgb(255, 255, 255);
		font-size: 12px;
		font-weight: bold;
	}
	.top_image{
		width: 100%;
		height: 200px;
	}

li {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  padding-left: 0px;
}



/* メニュー */
nav {
  background: rgb(59, 59, 59);
  opacity: 0.9;
  position: absolute;
  z-index: 1;
  right: 0;
  overflow-x: hidden;
  width: 0;
  transition: .3s;
}

/* メニューを開いた時 */
nav.open-menu {
  width: 100%;
}


#humberger {
	opacity: 1;
  height: 30px;
  width: 30px;
}

}