.wrapper{
  width: 1200px;
  margin: 0 auto;
  background-color: #fefefe;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

span{
	background:linear-gradient(transparent 50%, rgb(255, 237, 138) 50%);
}

/* --------------
       header
    ------------- */
  .hedderWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto; 
  }
  .Home{
    width: 180px;
    height: 54px;
 
    background-image: url("../img/logo_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 }
  .nav-list{
      display: flex;
      list-style: none;
  }
  .nav-item{
      padding-left: 40px;
  }
  .nav-item>a{
      color: rgb(41, 41, 41);
      font-size: 12px;
      text-decoration: none;
  }
  .top_image{
    width: 100%;
    height: 500px;
    background-image: url("../img/adcf_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
 }
/* --------------
       内容_001
    ------------- */
.about_wrpper{
margin: 60px auto;
/* background-color: aquamarine; */
}
.title_h2{
  padding: 10px 0px;
   margin: 0 auto;
   text-align: center;
   font-size: 22px;
   color: #000000;
   background-color: rgb(248, 248, 248);
   
   
}
.title_h3{
  text-align: center;
  margin: 0px auto;
  padding-top: 50px;
  border-bottom: solid 2px #5A5CE6;
  width: 360px;
}
.contents_01{
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items:top;
 }
.illust_01{
  width: 400px;
  height: 300px;
  background-image: url("../img/001.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  /* opacity: 0.3; */
  padding: 0;
}
.about_text{
  width: 400px;
  /* height: 300px; */
  padding: 0 40px;
  line-height: 35px;
}
/* --------------
       内容_002
    ------------- */
.about_wrpper2{
  margin: 60px auto;
  background-color: rgb(248, 248, 248);
  padding-bottom: 80px;
}
.photocontents{
  width: 900px;
  background-color: aquamarine;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}
.naviImag{
  width: 300px;
  height: 180px;
  background-image: url("../img/c688ec4182cb23b41b831fb53b5f06003_4620693218524842082_200326_0002.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.naviImag2{
  width: 300px;
  height: 180px;
  background-image: url("../img/ArtDlgCf_S2_20200718.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
    
.about_text2{
  padding-top: 40px;
  line-height: 35px;
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

/* --------------
       内容_003
    ------------- */
  .about_wrpper3{
    margin: 60px auto;
    width: 800px;
  }
  .osusumeWrapp{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

.osusumecontent{
  width: 250px;
  height: 300px;
}

  .osusumeImg1{
    width: 250px;
    height: 250px;
    background-color: #e4e4e4;
  }
  .osusumText1{
    text-align: center;
  }




    /* --------------
       ボタン
    ------------- */

  .btn_position{
    padding-top: 50px;
  }
  .btn{
    color: rgb(255, 255, 255);
    /* font-weight: bolder; */
    display: flex;
    justify-content: center;
    align-items: center;
    width:270px;
    height: 60px;
    margin: 0 auto;
    background-color: #F2B73A;
    border-radius: 50px;
    text-decoration: none;
    
}



  /* --------------
       ヘッダー
    ------------- */

    .box_footer{
      background: #f1f1f1;
      text-align: center ;
      height: 200px;
      margin: 50px auto;
    }

    .copyright{
      display: flex;
      justify-content: center;
      padding-top:200px ;
    }


/* --------------
       開催記録
    ------------- */

    .archive_title{
      text-align: center;
      padding-top: 100px;
    }

    .archive_wapper{
      display: flex;
      justify-content: center;
      padding-top: 30px;
    }

    .content_img_1{
      width: 250px;
      height: 250px;

      background-image: url(../img/kiroku_001.png);
      background-position: center center;
      background-size: cover;
    }

    .content{
      text-align: center;
      margin: 0 10px;
      width: 250px;
    }
    

    .content img{
      width: 250px;
      height: auto;
    }
    .content p{
      font-size: 14px;
    }
    

    .content_img_2{
      width: 250px;
      height: 250px;

      background-image: url(../img/kiroku_002.jpg);
      background-position: center center;
      background-size: cover;
    }

    .content_img_3{
      width: 250px;
      height: 250px;

      background-image: url(../img/kiroku_003.jpg);
      background-position: center center;
      background-size: cover;
    }



/* --------------
       フォーム
    ------------- */

    .form_left h3{
      font-size: 16px;
      color: rgb(255, 255, 255);
      background-color: #faaf0b;
      border-radius: 5px;
      padding: 0 20px;
      margin-right: 180px;
    }



.form_wrapper{
    width: 1200px;
    margin: 0 auto;
    background-color: #fefefe;
}

  

    .form_content{
      display: flex;
    }


    .form_img{
      width: 350px;
      height: 250px;

      background-image: url(../img/001.png);
      background-size: cover;
      background-position: center;
    }

    .form_left p{
      text-align: left;
      font-weight: bold;
      line-height: 35px;
      
    }

    .form_right table{
        border-collapse: collapse;
        border-spacing: 0;
    }

    .form_right{
      margin-left: 60px;
    }

    .form_right th{
      text-align: left;
      border-top: solid 1px #bfbfbf;
      padding: 10px 20px;
      font-size: 14px;
    }

    .form_right td{
      border-left: solid;
      border-top: solid 1px #bfbfbf;
      border-left: solid 1px #bfbfbf;
      font-size: 14px;
    }


    .form_right_item{
      text-align: left;
      margin-left: 10px;
    }

    .form_right_massege{
      text-align: start;
      padding-top: 10px;
    }


    /* インフォ */


    .info_wrapper{
      width: 1200px;
      margin: 0 auto;
      background-color: #fefefe;
      padding: 60px 0;
    }




    /* ーーーーーーーー
          アバウト
      ーーーーーーー */

      .setumei_wrapper{
        width: 1200px;
        margin: 0 auto;
        background-color: #fefefe;

      }

      .contents_03_box{
        padding: 30px 20px;
        margin: 30px auto;
      }
    
      .grph_001{
        width: 295px;
        height: 302px;
        background-image: url(../img/grph_001.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;   
      }
      
      .contents_03{
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: top;
        margin: 0 auto;
      }

      .about_text_3{
        font-size: 16px;
        width: 400px;
        /* height: 300px; */
        padding: 30px 30px;
       background-color: #f1f1f1; 
       border-radius: 30px;
      }

      .TextCenter{
        text-align: center;
      }

      .about_text_4{
        width: 800px;
        margin: 0 auto;
      }
      


